ul.status li {
	border-radius: 10px;
	text-align: center;
	max-width: 75px;
}

ul {
	list-style: none;
}

.red {
	background-color: #ff0000;
}

.green {
	background-color: green;
}

ul.train {
	padding:20px; 
	border-bottom: 1px solid #ccc;
}

ul.train:last-of-type {
	border-bottom: none;
}

#map-canvas {
	min-width: 350px;
	min-height: 350px;
}

*[id^='map-canvas']{
	min-width: 100%;
	min-height: 350px;
}

li.status {
	text-transform: uppercase;
	color: white;
	padding: 5px 10px;
}

.forkit {
	float: right;
	font:14px Helvetica; 
	vertical-align: center;
}

a {
	text-decoration: none; 
	color: black;
	transition: color 1s;
}

a:hover { color: gray; text-decoration: none; }

.bg-success {
	background-color: green;
}

.bg-danger {
	background-color: red;
}

.subtle {
	color: #ccc;
	font-size: .8em;
	font-weight: 200;
}