@mixin bg-color($color) {
  background-color: $color;
}

ul.status li {
	border-radius: 10px;
	text-align: center;
	max-width: 75px;
}

ul {
	list-style: none;
}

.red {
	 @include bg-color(#ff0000); //background-color: #ff0000;
}

.green {
	@include bg-color(green); //background-color: green;
}

ul.train {
	padding: 0px;
	margin: 0px; 
	border-bottom: 1px solid #ccc;
	box-shadow: 5px 5px 5px #eee;
}

ul.train:last-of-type {
	border-bottom: none;
}

#map-canvas {
	min-width: 350px;
	min-height: 350px;
}

*[id^='map-canvas']{
	min-width: 100%;
	min-height: 350px;
}

li.status {
	text-transform: uppercase;
	color: white;
	padding: 5px 10px;
}

li.stop-info {
    background: #eee;
    height: 100%;
    padding: 2px 0 0 9px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 9px;
    border: 1px solid #ccc;
    margin-top: 10px;
    color: darkblue;
}

.forkit {
	float: right;
	font:14px Helvetica; 
	vertical-align: center;
}

a {
	text-decoration: none; 
	color: black;
	transition: color 1s;
}

a:hover { 
	color: gray;
	text-decoration: none;
}

.bg-success {
	@include bg-color(green);
}

.bg-danger {
	@include bg-color(red);
}

.subtle {
	color: #ccc;
	font-size: .8em;
	font-weight: 200;
}

#train_select {
	@include bg-color(#eee);
	margin-bottom: 0.5em;
	padding: 0.5em;
}

.SEPTAlogo {
	height: 65px;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px;
}

.trainLabel {
	color: black;
	background-color: white;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 40px;
	border: 1px solid darkgrey;
	white-space: nowrap;
	border-radius: 10px;
}